@page
@model CreateMusicCollectionModel

@{
    ViewBag.Title = "Создание сборника";
}

<div class="d-grid justify-content-center">
    <form method="post">
        <div class="mb-4">
            <label asp-for="MusicCollection.Name" class="form-label">Введите название:</label>
            <input asp-for="MusicCollection.Name" type="text" class="form-control" placeholder="пример: Мне нравится" maxlength="80"/>
            <span class="text-danger small" asp-validation-for="MusicCollection.Name"></span>
        </div>
        <div class="mb-4">
            <input class="btn btn-primary w-100" type="submit" value="Добавить" />
        </div>
    </form>
</div>