@page
@model GenresModel

@{
    ViewBag.Title = "Жанры";
}

<h3 class="my-4 text-center">@ViewBag.Title</h3>
<div class="mx-4">

    <form method="get">
        <div class="input-group mb-3">
            <input type="text" class="form-control" asp-for="SearchString">
            <button type="submit" class="btn btn-primary">Поиск</button>
        </div>
    </form>
    <table class="table table-bordered table-striped table-sm">
        <thead class="table-primary text-center">
        <tr>
            <th>Наименование</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var genre in Model.Genres)
        {
            <tr class="text-start">
                <td class="p-3 col-11">@genre.Name</td>
                <td class="text-end p-2 col-1">
                    <form method="post" onsubmit="return confirm('Вы уверены?')">
                        <button asp-page-handler="delete" asp-route-name="@genre.Name" class="btn btn-danger" type="submit">Удалить</button>
                    </form>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>

<div class="p-1">
    <a class="btn btn-primary" asp-page="/Genres/Create">Добавить</a>
</div>