@page
@model GetAllGenresModel

@{
    ViewBag.Title = "Жанры";
}

<h3 class="my-4 text-center">@ViewBag.Title</h3>
<div class="mx-4">

    <form method="get">
        <div class="input-group mb-3">
            <input type="text" class="form-control" asp-for="SearchString">
            <button type="submit" class="btn btn-primary">Поиск</button>
        </div>
    </form>
    <table class="table table-bordered table-striped table-hover table-sm">
        <thead class="table-dark">
        <tr class="table-responsive">
            <th>Наименование</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var author in Model.Genres)
        {
            <tr class="table-responsive text-start">
                <td>@author.Name</td>
            </tr>
        }
        </tbody>
    </table>
</div>

<div class="p-4">
    <a class="btn btn-primary" asp-page="/Genres/Create">Добавить</a>
</div>

<div class="p-4">
    <a class="btn btn-dark" asp-page="/Index">Вернуться на главную страницу</a>
</div>